<section>
  <h2>{{additional.headline}}</h2>
  <table class="download-matrix full-width">
    <tbody>
      <tr>
        <th>{{additional.DockerImage}}</th>
        <td><a href="https://hub.docker.com/_/node/">{{additional.officialDockerImage}}</a></td>
      </tr>

      <tr>
        <th>{{additional.LinuxPowerSystems}}</th>
        <td><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-ppc64le.tar.xz">64-bit</a></td>
      </tr>

      <tr>
        <th>{{additional.LinuxSystemZ}}</th>
        <td><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-s390x.tar.xz">64-bit</a></td>
      </tr>
      <tr>
        <th>{{additional.AIXPowerSystems}}</th>
        <td><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-aix-ppc64.tar.gz">64-bit</a></td>
      </tr>
    </tbody>
  </table>
  {{> download-list }}
</section>
