<section>
  <ul>
    <li><a href="https://nodejs.org/dist/{{version.node}}/{{site.download.shasums.link}}">{{site.download.shasums.text}}</a> (<a href="{{site.download.shasums.verify-link}}">{{site.download.shasums.verify-text}}</a>)</li>
    <li><a href="https://nodejs.org/dist/{{version.node}}/">{{site.all-downloads}}</a></li>
    <li><a href="/{{site.locale}}/{{site.download.package-manager.link}}/">{{site.download.package-manager.text}}</a></li>
    <li><a href="/{{site.locale}}/{{site.download.releases.link}}/">{{site.download.releases.text}}</a></li>
    <li><a href="https://nodejs.org/download/nightly/">{{site.nightly}}</a></li>
    <li><a href="https://unofficial-builds.nodejs.org/download/">{{site.unofficial-builds}}</a></li>
    <li><a href="https://github.com/nodejs/node/blob/master/BUILDING.md#building-nodejs-on-supported-platforms">{{downloads.buildInstructions}}</a></li>
    <li><a href="https://github.com/nodejs/help/wiki/Installation">{{site.download.install-on-linux.text}}</a></li>
    <li><a href="https://docs.microsoft.com/windows/dev-environment/javascript/nodejs-on-wsl">{{site.download.install-on-wsl.text}}</a></li>
  </ul>
</section>
