<a href="#" id="scroll-to-top">&uarr; <span>{{site.scrollToTop}}</span></a>

<footer {{#if className}}class="{{className}}"{{/if}} role="contentinfo">

  <div class="container">
    <div class="linuxfoundation-footer">
      <div class="issue-link-container">
        <a class="linuxfoundation-logo" href="http://collabprojects.linuxfoundation.org">
          <img alt="Linux Foundation Collaborative Projects" src="/static/images/lfcp.png">
        </a>
        <ul class="list-divider-pipe issue-link">
          <li><a href="https://github.com/nodejs/node/issues">{{site.reportNodeIssue}}</a></li>
          <li><a href="https://github.com/nodejs/nodejs.org/issues">{{site.reportWebsiteIssue}}</a></li>
          <li><a href="https://github.com/nodejs/help/issues">{{site.getHelpIssue}}</a></li>
        </ul>
      </div>

      <p>© Node.js Foundation. All Rights Reserved. Portions of this site originally © Joyent. </p>
      <p>Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the <a href="/static/documents/trademark-policy.pdf">Trademark Guidelines of the Node.js Foundation</a>.</p>
      <p>Linux Foundation is a registered trademark of The Linux Foundation.</p>
      <p>Linux is a registered <a href="http://www.linuxfoundation.org/programs/legal/trademark" title="Linux Mark Institute">trademark</a> of Linus Torvalds.</p>
      <p>
        <a href="https://raw.githubusercontent.com/nodejs/node/master/LICENSE">Node.js Project Licensing Information</a>.
      </p>
    </div>
  </div>

</footer>

<link rel="stylesheet" href="/static/css/prism-tomorrow.css" media="all">
<script type="text/javascript">
  var $scrollToTop = document.getElementById('scroll-to-top');
  (window.onscroll = function() {
    window.requestAnimationFrame(function() {
      $scrollToTop.style.display = (window.pageYOffset > window.innerHeight) ? 'block' : 'none';
    })
  })();
  $scrollToTop.onclick = function() {
    window.scrollTo(0, 0);
    return false;
  };
</script>

{{!-- Load Modernizr dynamically for IE10/11 and add test classes for sticky footer with flexbox --}}
<script>
  (function(d,e,m,s){
    if (!/(MSIE|Trident)/.test(navigator.userAgent)){return;}
    m=d.createElement(e);
    s=d.getElementsByTagName(e)[0];m.async=1;m.src='/static/js/modernizr.custom.js';
    m.onload=function(){Modernizr.addTest('flexboxtweener', Modernizr.testAllProps('flexAlign'));};
    s.parentNode.insertBefore(m,s);
  })(document,'script');
</script>
