<a href="#" id="scroll-to-top">&uarr; <span>{{site.scrollToTop}}</span></a>

<footer {{#if className}} class="{{className}}"{{/if}}>

  <div class="container">
    <div class="openjsfoundation-footer">
      <div class="issue-link-container">
        <a class="openjsfoundation-logo" href="https://openjsf.org/">
          <img src="/static/images/openjs_foundation-logo.svg" alt="OpenJS Foundation" width="120" height="38">
        </a>
        <ul class="list-divider-pipe issue-link">
          <li><a href="https://github.com/nodejs/node/issues">{{site.reportNodeIssue}}</a></li>
          <li><a href="https://github.com/nodejs/nodejs.org/issues">{{site.reportWebsiteIssue}}</a></li>
          <li><a href="https://github.com/nodejs/help/issues">{{site.getHelpIssue}}</a></li>
        </ul>
      </div>

      <p>© OpenJS Foundation. All Rights Reserved. Portions of this site originally © Joyent.</p>
      <p>Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the <a href="/static/documents/trademark-policy.pdf">Trademark Guidelines of the OpenJS Foundation</a>.</p>
      <p>
        <a href="https://raw.githubusercontent.com/nodejs/node/master/LICENSE">Node.js Project Licensing Information</a>.
      </p>

      {{> contributor-card }}

    </div>
  </div>

</footer>

<script src="/static/js/main.js" async defer></script>
