<header>
  <div class="container">

    <a href="/{{site.locale}}/" id="logo">
      <img src="/static/images/logo.svg" alt="Node.js" width="122" height="75">
    </a>

    <nav aria-label="primary">
      <ul class="list-divider-pipe">
        <li {{#equals path ''}} class="active" {{/equals}}>
          <a href="/{{site.locale}}/">{{site.home.text}}</a>
        </li>

        {{#each nav.main}}
          <li {{#startswith ../path link}}class="active"{{/startswith}}>
            {{#startswith link 'http'}}
              <a href="{{link}}">{{text}}</a>
            {{else}}
              <a href="/{{../site.locale}}/{{link}}/">{{text}}</a>
            {{/startswith}}
          </li>
        {{/each}}
      </ul>
    </nav>

    <div class="switchers">
      <button class="dark-theme-switcher" type="button" title="{{site.toggleText}}" aria-label="Toggle dark/light mode"></button>
      <button class="lang-picker-toggler" type="button" aria-controls="lang-picker" aria-expanded="false">
        <img class="lang-picker-icon light-icon" src="/static/images/lang-picker-icon-light.svg" alt="Language">
        <img class="lang-picker-icon dark-icon" src="/static/images/lang-picker-icon-dark.svg" alt="Language">
        <span class="sr-only">Toggle Language</span>
      </button>
    </div>

    <ul id="lang-picker" class="lang-picker hidden">
      {{#each locales}}
        <li>
          <button data-lang="{{locale}}" title="{{languageEnglishVersion}}">{{language}}</button>
        </li>
      {{/each}}
    </ul>

  </div>
</header>
