<ul id="header">
  <li><a href="/{{site.locale}}" id="logo">
    <img src="/static/images/logo-hexagon.svg" alt="node.js">
  </a></li>

  <li id="nav">
    <div {{#equals path ''}} class="active"{{/equals}}>
      <a href="/{{site.locale}}/">{{site.home.text}}</a>
    </div>
    {{#each nav.main}}
      <div {{#startswith ../path link}} class="active"{{/startswith}}>
        <a href="/{{../site.locale}}/{{link}}/">{{text}}</a>
      </div>
    {{/each}}
  </li>
</ul>
