<header>
    <div class="container">

        <img id="logo" src="/static/images/logo.svg" alt="node.js">
        <nav>
            <ul class="list-divider-pipe">
                <li{{#equals active "home"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/">{{site.home.text}}</a>
                </li>
                <li{{#equals active "about"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.about.link}}">{{site.about.text}}</a>
                </li>
                <li{{#equals active "download"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.download.link}}">{{site.download.text}}</a>
                </li>
                <li{{#equals active "resources"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.resources.link}}">{{site.resources.text}}</a>
                </li>
                <li{{#equals active "foundation"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.foundation.link}}">{{site.foundation.text}}</a>
                </li>
                <li{{#equals active "community"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.community.link}}">{{site.community.text}}</a>
                </li>
                <li{{#equals active "security"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.security.link}}">{{site.security.text}}</a>
                </li>
                <li{{#equals active "blog"}} class="active"{{/equals}}>
                    <a href="/{{site.locale}}/{{site.blog.link}}">{{site.blog.text}}</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
