<header>
  <div class="container">

    <a href="/{{site.locale}}/" id="logo">
      <img src="/static/images/logo.svg" alt="Node.js" width="122" height="75">
    </a>

    <nav aria-label="primary">
      <ul class="list-divider-pipe">
        <li {{#equals path ''}} class="active" {{/equals}}>
          <a href="/{{site.locale}}/">{{site.home.text}}</a>
        </li>

        {{#each nav.main}}
          <li {{#startswith ../path link}}class="active"{{/startswith}}>
            {{#startswith link 'http'}}
              <a href="{{link}}">{{text}}</a>
            {{else}}
              <a href="/{{../site.locale}}/{{link}}/">{{text}}</a>
            {{/startswith}}
          </li>
        {{/each}}
      </ul>
    </nav>

    <button class="lang-picker-toggler" type="button" aria-controls="lang-picker" aria-expanded="false">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20" aria-hidden="true" focusable="false" fill="currentColor">
        <g><path d="m483.489 138.478c-18.047-34.863-44.348-65.608-76.06-88.909-3.345-2.457-8.051-1.74-10.51 1.607-2.458 3.346-1.739 8.051 1.607 10.51 59.612 43.801 95.985 113.185 98.312 186.794h-57.244v-57.343c0-33.225-23.621-61.034-54.952-67.523-12.687-35.975-30.462-66.249-51.568-87.698-4.509-4.582-9.154-8.736-13.91-12.466 17.581 4.758 34.6 11.489 50.636 20.098 3.659 1.963 8.218.59 10.181-3.068 1.964-3.659.59-8.217-3.068-10.181-36.924-19.822-78.736-30.299-120.913-30.299-68.38 0-132.668 26.628-181.019 74.98s-74.981 112.64-74.981 181.02c0 25.956 3.873 51.568 11.51 76.125 1.002 3.222 3.972 5.287 7.178 5.287.739 0 1.492-.11 2.235-.342 3.965-1.233 6.179-5.447 4.946-9.412-6.449-20.735-10.036-42.278-10.706-64.14h57.243v55.699c0 33.003 23.31 60.65 54.327 67.379 12.629 36.481 30.453 67.203 51.706 88.989 4.628 4.743 9.399 9.033 14.288 12.876-68.138-18.626-126.137-66.722-156.199-132.842-1.718-3.778-6.172-5.453-9.956-3.732-3.78 1.718-5.451 6.175-3.732 9.956 20.072 44.149 52.165 81.594 92.809 108.287 41.707 27.392 90.24 41.87 140.351 41.87 68.38 0 132.668-26.629 181.019-74.981s74.981-112.64 74.981-181.019c0-40.849-9.86-81.488-28.511-117.522zm-115.375-16.295h-104.595v-106.757c20.597 2.087 40.795 12.706 58.838 31.039 18.319 18.616 34.017 44.658 45.757 75.718zm-119.633 0h-104.595c11.741-31.064 27.441-57.108 45.764-75.725 18.04-18.329 38.237-28.946 58.831-31.032zm-233.315 126.298c3.319-107.708 77.66-197.831 177.664-225.025-4.751 3.726-9.392 7.877-13.897 12.454-21.111 21.449-38.888 51.726-51.576 87.705-31.33 6.489-54.951 34.298-54.951 67.523v57.343zm72.277 70.736v-128.079c0-29.731 24.188-53.918 53.918-53.918h229.276c29.732 0 53.919 24.188 53.919 53.918v128.079c0 29.731-24.188 53.918-53.919 53.918h-229.276c-29.73.001-53.918-24.187-53.918-53.918zm55.807 68.956h105.231v108.399c-42.296-4.314-81.61-44.769-105.231-108.399zm175.92 100.371c20.675-16.225 39.104-40.467 53.784-71.56 1.773-3.755.165-8.236-3.589-10.009-3.753-1.773-8.236-.166-10.009 3.589-24.283 51.434-58.875 82.319-95.837 86.021v-108.412h107.119c38.023 0 68.956-30.933 68.956-68.955v-55.699h57.24c-3.319 107.707-77.66 197.83-177.664 225.025z"/><path d="m253.943 212.393h100.84c-7.94 15.535-19.375 32.347-32.885 48.224-1.26 1.48-2.534 2.938-3.814 4.384-5.979-7.144-11.032-14.331-14.745-21.053-2.006-3.633-6.582-4.956-10.217-2.945-3.634 2.008-4.953 6.582-2.945 10.217 4.411 7.986 10.456 16.496 17.583 24.853-11.969 12.181-24.359 22.587-35.982 30.113-3.486 2.258-4.482 6.913-2.225 10.398 2.272 3.514 6.961 4.463 10.398 2.225 12.339-7.99 25.412-18.918 37.996-31.654.759.767 1.525 1.53 2.299 2.288 12.583 12.324 26.376 22.719 38.839 29.271 3.601 1.915 8.212.555 10.153-3.157 1.933-3.675.519-8.22-3.157-10.153-11.204-5.89-23.745-15.373-35.313-26.703-.849-.832-1.686-1.671-2.515-2.513 1.714-1.916 3.418-3.853 5.096-5.826 16.215-19.055 29.672-39.528 38.146-57.968h15.99c4.153 0 7.519-3.366 7.519-7.519s-3.366-7.519-7.519-7.519h-60.549v-28.657c0-4.153-3.366-7.519-7.519-7.519s-7.519 3.366-7.519 7.519v28.657h-57.957c-4.153 0-7.519 3.366-7.519 7.519s3.368 7.518 7.521 7.518z"/><path d="m210.004 297.754 9.464 25.078c1.466 3.885 5.805 5.846 9.689 4.379 3.885-1.466 5.845-5.803 4.379-9.689l-45.371-120.224c-.025-.069-.052-.136-.08-.204-1.592-3.872-5.324-6.372-9.509-6.372-.003 0-.006 0-.009 0-4.189.003-7.922 2.511-9.509 6.388-.023.057-.046.115-.068.172l-45.786 120.219c-1.478 3.88.47 8.223 4.351 9.702 3.779 1.47 8.227-.431 9.702-4.351l9.559-25.098zm-31.449-83.335 25.775 68.298h-51.786z"/></g>
      </svg>
      <span class="sr-only">Toggle Language</span>
    </button>

    <ul id="lang-picker" class="lang-picker hidden">
      {{#each locales}}
        <li>
          <button data-lang="{{locale}}" title="{{languageEnglishVersion}}">{{language}}</button>
        </li>
      {{/each}}
    </ul>

  </div>
</header>
