<header>
  <div class="container">

    <a href="/{{site.locale}}/" id="logo">
      <img src="/static/images/logo.svg" alt="Node.js" width="122" height="75">
    </a>

    <nav aria-label="primary">
      <ul class="list-divider-pipe">
        <li {{#equals path ''}} class="active" {{/equals}}>
          <a href="/{{site.locale}}/">{{site.home.text}}</a>
        </li>

        {{#each nav.main}}
          <li {{#startswith ../path link}}class="active"{{/startswith}}>
            {{#startswith link 'http'}}
              <a href="{{link}}">{{text}}</a>
            {{else}}
              <a href="/{{../site.locale}}/{{link}}/">{{text}}</a>
            {{/startswith}}
          </li>
        {{/each}}
      </ul>
    </nav>

    <button class="lang-picker-toggler" type="button" aria-controls="lang-picker" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" aria-hidden="true" viewBox="0 0 512 512">
        <path d="M483.489 138.478c-18.047-34.863-44.348-65.608-76.06-88.909a7.519 7.519 0 00-8.903 12.117c59.612 43.801 95.985 113.185 98.312 186.794h-57.244v-57.343c0-33.225-23.621-61.034-54.952-67.523-12.687-35.975-30.462-66.249-51.568-87.698-4.509-4.582-9.154-8.736-13.91-12.466 17.581 4.758 34.6 11.489 50.636 20.098a7.52 7.52 0 007.113-13.249C339.989 10.477 298.177 0 256 0 187.62 0 123.332 26.628 74.981 74.98S0 187.62 0 256c0 25.956 3.873 51.568 11.51 76.125a7.521 7.521 0 007.178 5.287c.739 0 1.492-.11 2.235-.342a7.518 7.518 0 004.946-9.412c-6.449-20.735-10.036-42.278-10.706-64.14h57.243v55.699c0 33.003 23.31 60.65 54.327 67.379 12.629 36.481 30.453 67.203 51.706 88.989 4.628 4.743 9.399 9.033 14.288 12.876-68.138-18.626-126.137-66.722-156.199-132.842a7.516 7.516 0 00-9.956-3.732 7.517 7.517 0 00-3.732 9.956c20.072 44.149 52.165 81.594 92.809 108.287C157.356 497.522 205.889 512 256 512c68.38 0 132.668-26.629 181.019-74.981S512 324.379 512 256c0-40.849-9.86-81.488-28.511-117.522zm-115.375-16.295H263.519V15.426c20.597 2.087 40.795 12.706 58.838 31.039 18.319 18.616 34.017 44.658 45.757 75.718zm-119.633 0H143.886c11.741-31.064 27.441-57.108 45.764-75.725 18.04-18.329 38.237-28.946 58.831-31.032zM15.166 248.481C18.485 140.773 92.826 50.65 192.83 23.456c-4.751 3.726-9.392 7.877-13.897 12.454-21.111 21.449-38.888 51.726-51.576 87.705-31.33 6.489-54.951 34.298-54.951 67.523v57.343zm72.277 70.736V191.138c0-29.731 24.188-53.918 53.918-53.918h229.276c29.732 0 53.919 24.188 53.919 53.918v128.079c0 29.731-24.188 53.918-53.919 53.918H141.361c-29.73.001-53.918-24.187-53.918-53.918zm55.807 68.956h105.231v108.399c-42.296-4.314-81.61-44.769-105.231-108.399zm175.92 100.371c20.675-16.225 39.104-40.467 53.784-71.56a7.52 7.52 0 00-13.598-6.42c-24.283 51.434-58.875 82.319-95.837 86.021V388.173h107.119c38.023 0 68.956-30.933 68.956-68.955v-55.699h57.24c-3.319 107.707-77.66 197.83-177.664 225.025z"/>
        <path d="M253.943 212.393h100.84c-7.94 15.535-19.375 32.347-32.885 48.224a300.91 300.91 0 01-3.814 4.384c-5.979-7.144-11.032-14.331-14.745-21.053a7.517 7.517 0 00-10.217-2.945 7.52 7.52 0 00-2.945 10.217c4.411 7.986 10.456 16.496 17.583 24.853-11.969 12.181-24.359 22.587-35.982 30.113a7.519 7.519 0 008.173 12.623c12.339-7.99 25.412-18.918 37.996-31.654.759.767 1.525 1.53 2.299 2.288 12.583 12.324 26.376 22.719 38.839 29.271 3.601 1.915 8.212.555 10.153-3.157a7.517 7.517 0 00-3.157-10.153c-11.204-5.89-23.745-15.373-35.313-26.703a198.655 198.655 0 01-2.515-2.513 309.036 309.036 0 005.096-5.826c16.215-19.055 29.672-39.528 38.146-57.968h15.99c4.153 0 7.519-3.366 7.519-7.519s-3.366-7.519-7.519-7.519h-60.549v-28.657c0-4.153-3.366-7.519-7.519-7.519s-7.519 3.366-7.519 7.519v28.657h-57.957a7.519 7.519 0 10.002 15.037zM210.004 297.754l9.464 25.078a7.518 7.518 0 009.689 4.379 7.518 7.518 0 004.379-9.689l-45.371-120.224a10.246 10.246 0 00-9.589-6.576h-.009a10.248 10.248 0 00-9.577 6.56l-45.786 120.219a7.519 7.519 0 004.351 9.702c3.779 1.47 8.227-.431 9.702-4.351l9.559-25.098zm-31.449-83.335l25.775 68.298h-51.786z"/>
      </svg>
      <span class="sr-only">Toggle Language</span>
    </button>

    <ul id="lang-picker" class="lang-picker hidden">
      {{#each locales}}
        <li>
          <button data-lang="{{locale}}" title="{{languageEnglishVersion}}">{{language}}</button>
        </li>
      {{/each}}
    </ul>

  </div>
</header>
