<header>
  <div class="container">

    <a href="/{{site.locale}}/" id="logo">
      <img src="/static/images/logo.svg" alt="Node.js" width="122" height="75">
    </a>

    <nav aria-label="primary">
      <ul class="list-divider-pipe">
        <li {{#equals path ''}} class="active" {{/equals}}>
          <a href="/{{site.locale}}/">{{site.home.text}}</a>
        </li>

        {{#each nav.main}}
          <li {{#startswith ../path link}}class="active"{{/startswith}}>
            {{#startswith link 'http'}}
              <a href="{{link}}">{{text}}</a>
            {{else}}
              <a href="/{{../site.locale}}/{{link}}/">{{text}}</a>
            {{/startswith}}
          </li>
        {{/each}}
      </ul>
    </nav>

    <button class="lang-picker-toggler" type="button" aria-controls="lang-picker" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="25" height="25" aria-hidden="true" focusable="false" fill="currentColor">
        <path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"/>
      </svg>
      <span class="sr-only">Toggle Language</span>
    </button>

    <ul id="lang-picker" class="lang-picker hidden">
      {{#each locales}}
        <li>
          <button data-lang="{{locale}}" title="{{languageEnglishVersion}}">{{language}}</button>
        </li>
      {{/each}}
    </ul>

  </div>
</header>
