<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{ title }} | {{/if}}{{ site.title }}</title>

    <link rel="dns-prefetch" href="http://fonts.googleapis.com">
    <link rel="dns-prefetch" href="http://fonts.gstatic.com">
    <link rel="dns-prefetch" href="http://www.google-analytics.com">

    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="{{#if robots}}{{ robots }}{{else}}index, follow{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/favicon.ico">

    <link rel="canonical" href="{{ site.url }}{{#if path}}{{ path }}/{{/if}}">
    {{#each site.feeds}}
        <link rel="alternate" href="/{{ ../site.locale }}/{{ link }}" title="{{ text }}" type="application/rss+xml">
    {{/each}}
    <link rel="stylesheet" href="/{{ site.locale }}/styles.css" media="all">

    <script>
        var WebFontConfig = { google: { families: ['Source Sans Pro:400,600'] } };
        !function(n,o,d,e,j,s){n.GoogleAnalyticsObject=d;n[d]||(n[d]=function(){
        (n[d].q=n[d].q||[]).push(arguments)});n[d].l=+new Date;j=o.createElement(e);
        s=o.getElementsByTagName(e)[0];j.async=1;j.src='//www.google-analytics.com/analytics.js';
        s.parentNode.insertBefore(j,s)}(window,document,'ga','script');

        ga('create', 'UA-67020396-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
