<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{ title }} | {{/if}}{{ site.title }}</title>

    <link rel="dns-prefetch" href="http://fonts.googleapis.com">
    <link rel="dns-prefetch" href="http://fonts.gstatic.com">
    <link rel="dns-prefetch" href="http://www.google-analytics.com">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="{{#if robots}}{{ robots }}{{else}}index, follow{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- <link rel="apple-touch-icon" href="/static/apple-touch-icon.png"> --}}
    {{!-- <link rel="icon" href="/static/apple-touch-icon.png"> --}}

    <link rel="canonical" href="{{site.url}}{{path}}">
    <link rel="alternate" href="/{{site.locale}}/blog.xml" title="Node.js Blog" type="application/rss+xml">
    <link rel="alternate" href="/{{site.locale}}/tsc-minutes.xml" title="Node.js TSC meeting minutes" type="application/rss+xml">
    <link rel="stylesheet" href="/{{site.locale}}/styles.css" media="all">
    <link rel="stylesheet" href="/static/css/prism-tomorrow.css" media="all">
</head>
