<head>
    <meta charset="utf-8">
    <title>{{#if title}}{{ title }} | {{/if}}{{ site.title }}</title>

    <link rel="dns-prefetch" href="http://fonts.googleapis.com">
    <link rel="dns-prefetch" href="http://fonts.gstatic.com">
    <link rel="dns-prefetch" href="http://www.google-analytics.com">

    <meta name="author" content="{{ site.author }}">
    <meta name="robots" content="{{#if robots}}{{ robots }}{{else}}index, follow{{/if}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- <link rel="apple-touch-icon" href="/static/apple-touch-icon.png"> --}}
    {{!-- <link rel="icon" href="/static/apple-touch-icon.png"> --}}

    <link rel="canonical" href="{{ canonical }}">
    <link rel="alternate" href="/{{site.locale}}/blog.xml" title="Node.js Blog" type="application/rss+xml">
    <link rel="alternate" href="/{{site.locale}}/tsc-minutes.xml" title="Node.js TSC meeting minutes" type="application/rss+xml">
    <link rel="stylesheet" href="/{{site.locale}}/styles.css" media="all">
    <link rel="stylesheet" href="/static/css/prism-tomorrow.css" media="all">

    <link rel="stylesheet" href="https://use.typekit.net/c/5d5ccd/1w;din-condensed-web,2,ZwM:P:n4;source-sans-pro,2,Xw0:P:n2,Xw5:P:n4,Xw6:P:n6,Xvy:P:n7/d?3bb2a6e53c9684ffdc9a98f41a5b2a62f97c6e2d19ae8171762f36a47b76e2dab9866720c764a2dd276e81e45db51eba20e3d580df710cfe124f8cdf282019abff20cf1bb6b3dcb663d7e0fb8f74c8a1a5e32f78f888e5fc5a927ddf7928f759d4f2f06ecf71e5cae0215f59a63aa05c7c4265cd6a519d74de9dcaddb62d9ddd5e6d496c703544dc3b5e575470c25983eb933efb3fadbc9412a4d6a260a007066fc23ee1d196e3c11f562ab5f8417f84fae2d5f90659f0d40a66d841865a9cf025ec205388768613d859b008d2d814834463397b7a161b555acdc04d">

    <script src="//use.typekit.net/mse5tqx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
