<section>
    <h2>Additional Platforms</h2>
    <table class="download-matrix full-width">
        <tbody>
            <tr>
                <th>ARM Binaries (.tar.xz)</th>
                <td colspan="2"><a href="https://nodejs.org/dist/{{version}}/node-{{version}}-linux-armv6l.tar.xz">ARMv6</a></td>
                <td colspan="2"><a href="https://nodejs.org/dist/{{version}}/node-{{version}}-linux-armv7l.tar.xz">ARMv7</a></td>
                <td colspan="2"><a href="https://nodejs.org/dist/{{version}}/node-{{version}}-linux-arm64.tar.xz">ARMv8</a></td>
            </tr>

            <tr>
                <th>SunOS Binaries (.tar.xz)</th>
                <td colspan="3"><a href="https://nodejs.org/dist/{{version}}/node-{{version}}-sunos-x86.tar.xz">32-bit</a></td>
                <td colspan="3"><a href="https://nodejs.org/dist/{{version}}/node-{{version}}-sunos-x64.tar.xz">64-bit</a></td>
            </tr>

            <tr>
                <th>Docker Image</th>
                <td colspan="6"><a href="https://hub.docker.com/_/node/">Official Node.js Docker Image</a></td>
            </tr>

            <tr>
                <th>Linux on Power Systems</th>
                <td colspan="3">
                    <a href="https://nodejs.org/dist/{{version}}/node-{{version}}-linux-ppc64le.tar.xz">64-bit le</a>
                    <span>Official Node.js release</span>
                </td>
                <td colspan="3">
                    <a href="http://www.ibm.com/developerworks/web/nodesdk/">64-bit be</a>
                    <span>Unofficial, provided by IBM</span>
                </td>
            </tr>

            <tr>
                <th>Linux on System z</th>
                <td colspan="6"><a href="http://www.ibm.com/developerworks/web/nodesdk/">Download (Unofficial, provided by IBM)</a></td>
            </tr>
            <tr>
                <th>AIX on Powert Systems</th>
                <td colspan="6"><a href="http://www.ibm.com/developerworks/web/nodesdk/">Download (Unofficial, provided by IBM)</a></td>
            </tr>
        </tbody>
    </table>
    {{> download-list }}
</section>
