<section>
  <h2>{{additional.headline}}</h2>
  <table class="download-matrix full-width">
    <tbody>
      <tr>
        <th>ARM Binaries (.tar.xz)</th>
        <td colspan="2"><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-armv6l.tar.xz">ARMv6</a></td>
        <td colspan="2"><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-armv7l.tar.xz">ARMv7</a></td>
        <td colspan="2"><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-arm64.tar.xz">ARMv8</a></td>
      </tr>

      <tr>
        <th>SunOS Binaries (.tar.xz)</th>
        <td colspan="3"><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-sunos-x86.tar.xz">32-bit</a></td>
        <td colspan="3"><a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-sunos-x64.tar.xz">64-bit</a></td>
      </tr>

      <tr>
        <th>Docker Image</th>
        <td colspan="6"><a href="https://hub.docker.com/_/node/">Official Node.js Docker Image</a></td>
      </tr>

      <tr>
        <th>Linux on Power Systems</th>
        <td colspan="3">
          <a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-ppc64le.tar.xz">64-bit le</a>
        </td>
        <td colspan="3">
          <a href="https://nodejs.org/dist/{{version.node}}/node-{{version.node}}-linux-ppc64.tar.xz">64-bit be</a>
        </td>
      </tr>

      <tr>
        <th>Linux on System z</th>
        <td colspan="6"><a href="http://www.ibm.com/developerworks/web/nodesdk/">Download (Unofficial, provided by IBM)</a></td>
      </tr>
      <tr>
        <th>AIX on Power Systems</th>
        <td colspan="6"><a href="http://www.ibm.com/developerworks/web/nodesdk/">Download (Unofficial, provided by IBM)</a></td>
      </tr>
    </tbody>
  </table>
  {{> download-list }}
</section>
