<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header active="about" }}

    <main>
        <div class="container has-side-nav">

            <aside>
                <ul>
                    <li class="active">
                      <a href="{{site.locale}}/{{site.about.link}}/">{{site.about.text}}</a>
                    </li>
                    <li>
                      <a href="{{site.locale}}/{{site.foundation.link}}/">{{site.foundation.text}}</a>
                    </li>
                    <li>
                      <a href="{{site.locale}}/{{site.security.link}}/">{{site.security.text}}</a>
                    </li>
                    <li>
                      <a href="{{site.locale}}/{{site.trademark.link}}">{{site.trademark.text}}</a>
                    </li>
                </ul>
            </aside>

            <article>
                {{{ contents }}}
            </article>

        </div>
    </main>

    {{> footer }}
</body>
</html>
