<!DOCTYPE html>
<html lang="{{site.locale}}"{{#if site.rtl}} dir="rtl"{{/if}}>
{{> html-head }}

<body>
  {{> header }}

  <div id="main">
    <div class="container has-side-nav">

      {{> navigation key='about'}}

      <article>
        {{{ contents }}}

        <p>
          <img src="https://raw.githubusercontent.com/nodejs/Release/master/schedule.svg?sanitize=true" alt="{{ title }}" width="760" height="396">
        </p>

        {{{ release-schedule }}}

        <p>
          <small>{{ schedule-footer }}</small>
        </p>

      </article>

    </div>
  </div>

  {{> footer }}
</body>
</html>
