<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">

            <ul class="blog-index">
                {{#each collections.blog}}
                    {{#if title}}
                        <li>
                            <time datetime="{{ date }}">{{ strftime date "%d %b %y" }}</time>
                            <a href="/{{../../site.locale}}/{{ path }}/">{{ title }}</a>
                            {{{ summary contents }}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>

    {{> footer }}
</body>
</html>
