<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header active="contribute" }}

    <main>
        <div class="container has-side-nav">

            <aside>
                <ul>
                    <li class="active">
                        <a href="/{{site.locale}}/{{site.contribute.link}}">{{site.contribute.text}}</a>
                    </li>
                    <li>
                        <a href="/{{site.locale}}/{{site.contribute.development.link}}">{{site.contribute.development.text}}</a>
                    </li>
                    <li>
                      <a target="_blank" href="https://iojs.org/api/">API</a>
                    </li>
                </ul>
            </aside>

            <article>
                {{{ contents }}}
            </article>

        </div>
    </main>

    {{> footer }}
</body>
</html>
