<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">
            <article>
                <h1>{{downloads.headline}}</h1>

                <section>
                    <p>{{downloads.intro}}</p>

                    <div class="download-hero full-width">
                        <ul class="no-padding">
                            <li>
                                <a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-x86.msi" id="windows-downloadbutton" data-version="{{ project.currentVersion }}">
                                    <img src="/static/images/platform-icon-win.png" height="50" width="45" alt="">
                                    Windows Installer
                                    <p class="small color-lightgray pad-bottom-small">node-{{project.currentVersion}}-x86.msi</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}.pkg">
                                    <img src="/static/images/platform-icon-osx.png" height="50" width="45" alt="">
                                    Macintosh Installer
                                    <p class="small color-lightgray pad-bottom-small">node-{{project.currentVersion}}.pkg</p>
                                </a>
                            </li>
                            <li>
                                <a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}.tar.gz">
                                    <img src="/static/images/platform-icon-generic.png" height="50" width="45" alt="">
                                    Source Code
                                    <p class="small color-lightgray pad-bottom-small">node-{{project.currentVersion}}.tar.gz</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <table class="download-matrix full-width">
                        <tbody>
                            <tr>
                                <th>Windows Installer (.msi)</th>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-x86.msi">32-bit</a></td>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-x64.msi">64-bit</a></td>
                            </tr>

                            <tr>
                                <th>Windows Binary (.exe)</th>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/win-x86/node.exe">32-bit</a></td>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/win-x64/node.exe">64-bit</a></td>
                            </tr>

                            <tr>
                                <th>Mac OS X Installer (.pkg)</th>
                                <td colspan="6"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}.pkg">64-bit</a></td>
                            </tr>

                            <tr>
                                <th>Mac OS X Binaries (.tar.gz)</th>
                                <td colspan="6"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-darwin-x64.tar.gz">64-bit</a></td>
                            </tr>

                            <tr>
                                <th>Linux Binaries (.tar.gz)</th>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-linux-x86.tar.gz">32-bit</a></td>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-linux-x64.tar.gz">64-bit</a></td>
                            </tr>

                            <tr>
                                <th>SunOS Binaries (.tar.gz)</th>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-sunos-x86.tar.gz">32-bit</a></td>
                                <td colspan="3"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-sunos-x64.tar.gz">64-bit</a></td>
                            </tr>

                            <tr>
                                <th>ARM Binaries (.tar.gz)</th>
                                <td colspan="2"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-linux-armv6l.tar.gz">ARMv6</a></td>
                                <td colspan="2"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-linux-armv7l.tar.gz">ARMv7</a></td>
                                <td colspan="2"><a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}-linux-arm64.tar.gz">ARMv8</a></td>
                            </tr>

                            <tr>
                                <th>Source Code</th>
                                <td colspan="6">
                                    <a href="https://nodejs.org/dist/{{project.currentVersion}}/node-{{project.currentVersion}}.tar.gz">node-{{project.currentVersion}}.tar.gz</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    {{downloads.currentVersion}}: <strong>{{project.currentVersion}}</strong>
                    <ul>
                        <li><a href="https://nodejs.org/dist/{{project.currentVersion}}">{{site.all-downloads}}</a></li>
                        <li><a href="/{{site.locale}}/{{site.download.package-manager.link}}">{{site.download.package-manager.text}}</a></li>
                        <li><a href="/{{site.locale}}/{{site.download.releases.link}}/">{{site.download.releases.text}}</a></li>
                    </ul>
                    <p>{{downloads.buildDisclaimer}}</p>
                </section>

                <section>
                    <h2>{{additional.headline}}</h2>
                    <p>{{additional.intro}}</p>

                    <table class="download-matrix full-width">
                        <tbody>
                            <tr>
                                <th>{{additional.platform}}</th>
                                <th>{{additional.provider}}</th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>AIX on Power Systems</th>
                                <td><span>IBM</span></td>
                                <td><a href="http://www.ibm.com/developerworks/web/nodesdk/">{{download}}</a></td>
                            </tr>
                            <tr>
                                <th>Linux on Power Systems</th>
                                <td><span>IBM</span></td>
                                <td><a href="http://www.ibm.com/developerworks/web/nodesdk/">{{download}}</a></td>
                            </tr>
                            <tr>
                                <th>Linux on System z</th>
                                <td><span>IBM</span></td>
                                <td><a href="http://www.ibm.com/developerworks/web/nodesdk/">{{download}}</a></td>
                            </tr>
                        </tbody>
                    </table>

                </section>

            </article>

        </div>
    </div>

    {{> footer }}
    <script src="/static/js/download.js" async defer></script>
</body>
</html>
