<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<!-- WORK IN PROGRESS!!! -->
<style>
section h2 {
  font-size: 24px;
  color: #000000;
  text-transform: none;
  font-family: Georgia, FreeSerif, Times, serif;
  background: url(https://nodejs.org/images/community-icons.png) no-repeat;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-top: 10px;
}
</style>

<body>
    {{> header active="download" }}

    <main>
        <div class="container">
          <article>
            <h1>Downloads</h1>

            <section>
              <p>{{introduction}}</p>

              <div class="download-hero full-width">
                <ul class="no-padding">
                  <li>
                    <a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}-x86.msi">
                      <img src="/static/images/platform-icon-win.png" height="50" width="45" alt="">
                      Windows Installer
                      <p class="small color-lightgray pad-bottom-small">iojs-{{project.currentVersion}}-x86.msi</p>
                    </a>
                  </li>
                  <li>
                    <a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}.pkg">
                      <img src="/static/images/platform-icon-osx.png" height="50" width="45" alt="">
                      Macintosh Installer
                      <p class="small color-lightgray pad-bottom-small">iojs-{{project.currentVersion}}.pkg</p>
                    </a>
                  </li>
                  <li>
                    <a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}.tar.gz">
                      <img src="/static/images/platform-icon-generic.png" height="50" width="45" alt="">
                      Source Code
                      <p class="small color-lightgray pad-bottom-small">iojs-{{project.currentVersion}}.tar.gz</p>
                    </a>
                  </li>
                </ul>
              </div>

              <table class="download-matrix full-width">
                <tbody>
                  <tr>
                    <th>Windows Installer (.msi)</th>
                    <td><a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}-x86.msi">32-bit</a></td>
                    <td><a href="https://iojs.org/dist/{{project.currentVersion}}/x64/iojs-{{project.currentVersion}}-x64.msi">64-bit</a></td>
                  </tr>

                  <tr>
                    <th>Windows Binary (.exe)</th>
                    <td><a href="https://iojs.org/dist/{{project.currentVersion}}/win-x86/iojs.exe">32-bit</a></td>
                    <td><a href="https://iojs.org/dist/{{project.currentVersion}}/win-x64/iojs.exe">64-bit</a></td>
                  </tr>

                  <tr>
                    <th>Mac OS X Installer (.pkg)</th>
                    <td colspan="2"><a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}.pkg">Universal</a></td>
                  </tr>

                  <tr>
                    <th>Mac OS X Binaries (.tar.gz)</th>
                    <td colspan="2"><a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}-darwin-x64.tar.gz">64-bit</a></td>
                  </tr>

                  <tr>
                    <th>Linux Binaries (.tar.gz)</th>
                    <td><a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}-linux-x86.tar.gz">32-bit</a></td>
                    <td><a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}-linux-x64.tar.gz">64-bit</a></td>
                  </tr>

                  <tr>
                    <th>Source Code</th>
                    <td colspan="2">
                      <a href="https://iojs.org/dist/{{project.currentVersion}}/iojs-{{project.currentVersion}}.tar.gz">iojs-{{project.currentVersion}}.tar.gz</a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <p>
                {{current-version}}: <strong>{{project.currentVersion}}</strong>
              </p>
              <p>{{build-disclaimer}}</p>
            </section>

            <section>
              <h2>io.js</h2>
              <p>
                {{iojs.intro}}
              </p>
            </section>

            <section>
              <h5 class="download-table-previous-releases-header">Previous Releases</h5>
              <table class="download-table full-width" cellspacing="0" border="0" cellpadding="0">
                <thead>
                  <tr>
                    <td>Version</td>
                    <td>Date</td>
                    <td>V8</td>
                    <td>NPM</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {{#project.versions}}
                    <tr>
                      <td data-label="Version">{{version}}</td>
                      <td data-label="Date"><time>{{date}}</time></td>
                      <td data-label="V8">{{v8}}</td>
                      <td data-label="NPM">{{npm}}</td>
                      <td class="download-table-last">
                        <a href="http://iojs.org/dist/{{version}}">
                          {{i18n 'releases.downloads'}}
                        </a>
                        <a href="https://github.com/nodejs/io.js/blob/{{version}}/CHANGELOG.md">
                          {{i18n 'links.pages.changelog'}}
                        </a>
                      </td>
                    </tr>
                  {{/project.versions}}
                </tbody>
              </table>
            </section>
          </article>
        </div>
    </main>

    {{> footer }}
</body>
</html>
