<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<!-- WORK IN PROGRESS!!! -->
<style>
section h2 {
  font-size: 24px;
  color: #000000;
  text-transform: none;
  font-family: Georgia, FreeSerif, Times, serif;
  background: url(https://nodejs.org/images/community-icons.png) no-repeat;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-top: 10px;
}
</style>

<body>
    {{> header active="download" }}

    <main>
        <div class="container">
          <article>
            <h1>Downloads</h1>
            <p>{{introduction}}</p>

            <section>
              <h2>io.js</h2>
              <strong>Current version: {{project.versions.0.version}}</strong>
              <p>
                {{iojs.intro}}
              </p>
            </section>

            <section>
              <h5 class="download-table-previous-releases-header">Previous Releases</h5>
              <table class="download-table" cellspacing="0" border="0" cellpadding="0">
                <thead>
                  <tr>
                    <td>Version</td>
                    <td>Date</td>
                    <td>V8</td>
                    <td>NPM</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  {{#project.versions}}
                    <tr>
                      <td data-label="Version">{{version}}</td>
                      <td data-label="Date"><time>{{date}}</time></td>
                      <td data-label="V8">{{v8}}</td>
                      <td data-label="NPM">{{npm}}</td>
                      <td class="download-table-last">
                        <a href="http://iojs.org/dist/{{version}}">
                          {{i18n 'releases.downloads'}}
                        </a>
                        <a href="https://github.com/nodejs/io.js/blob/{{version}}/CHANGELOG.md">
                          {{i18n 'links.pages.changelog'}}
                        </a>
                      </td>
                    </tr>
                  {{/project.versions}}
                </tbody>
              </table>
            </section>
          </article>
        </div>
    </main>

    {{> footer }}
</body>
</html>
