<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container has-side-nav">

            <aside>
                <ul>
                    <li{{#equals path site.getinvolved.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.link}}/">{{site.getinvolved.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.code-and-learn.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.code-and-learn.link}}/">{{site.getinvolved.code-and-learn.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.contribute.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.contribute.link}}/">{{site.getinvolved.contribute.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.development.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.development.link}}/">{{site.getinvolved.development.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.events.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.events.link}}/">{{site.getinvolved.events.text}}</a>
                    </li>
                    <li>
                        <a href="https://github.com/nodejs/node/blob/master/CONTRIBUTING.md#code-of-conduct">{{site.getinvolved.conduct.text}}</a>
                    </li>
                </ul>
            </aside>

            <article>
              <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
              <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
              <style>
              div.map {
                height: 400px; 
                width:100%; 
                margin-top:10px;
              }
              .key {
                padding: 8px 0;
                text-align: center;
              }
              .key span {padding-right: 12px;}
              .key-meetup::before {
                content: ""; 
                width: 12px; 
                height: 12px; 
                background: #80bd01; 
                display: inline-block; 
                border-radius: 3px; 
                margin-right: 8px;
              }
              .key-nodeschool::before {
                content: ""; 
                width: 12px; 
                height: 12px; 
                background: #f7da03; 
                display: inline-block; 
                border-radius: 3px; 
                margin-right: 8px;
              }
              .key-conference::before {
                content: ""; 
                width: 12px; 
                height: 12px; 
                background: #3887be; 
                display: inline-block; 
                border-radius: 3px; 
                margin-right: 8px;
              }
              .events #map {
                margin: 0; 
                padding: 0;
              }
              </style>
              <div id="map" class="map"></div>
              <div class="key">
                <span class="key-meetup" data-i18n="events-meetu">Meetup</span>
                <span class="key-nodeschool" data-i18n="events-nodeschool">NodeSchool</span>
                <span class="key-conference" data-i18n="events-conference">Conference</span>
              </div>  
              <script>
              L.mapbox.accessToken = 'pk.eyJ1IjoibWlrZWFsIiwiYSI6ImNpaGY5ajk5ZTA0ZTN0cmo3MzZ5NnV5eHIifQ.YBfpOTUwcbaZrNvAfDaDcQ';
              var map = L.mapbox.map('map', 'mapbox.streets-basic')
              var featureLayer = L.mapbox.featureLayer()
                  .loadURL('/static/event-geo.json')
                  .addTo(map)
              function _map () {
                if ("geolocation" in navigator) {
                  /* geolocation is available */
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var lat = position.coords.latitude
                      , lon = position.coords.longitude
                      ;
                    map.setView([lat, lon], 11)
                  })
                }
              }
              _map()
              </script>

                {{#each regions}}
                <div class="region">
                  <h1>{{region}}</h1>
                  {{#if conferences}}<h2>Conferences</h2>{{/if}}
                  {{#each conferences}}
                  <div class="conference">
                    <h3><a href="{{link}}">{{name}}</a>
                      {{#if location}}
                        - <small class="map-link"><a href="https://www.google.com/maps/place/{{location}}">map</a></small>
                      {{/if}}
                    </h3>
                    {{#if desc}}
                    <div class="conference-description">{{desc}}</div>
                    {{/if}}
                  </div>
                  {{/each}}

                  <h2>NodeSchools</h2>
                  <ul class="events-list">
                  {{#each nodeschools}}
                  <li>
                    {{#if website}}
                    <a href="{{website}}">{{name}}</a>
                    {{else}}
                      {{#if repo}}
                      <a href="{{repo}}">{{name}}</a>
                      {{else}}
                        {{name}}
                      {{/if}}
                    {{/if}}
                  </li>
                  {{/each}}
                  </ul>

                  <h2>Meetups</h2>
                  <ul class="events-list">
                  {{#each meetups}}
                    <li><a href="{{link}}">{{name}}</a></li>
                  {{/each}}
                  </ul>

                </div>
                {{/each}}
            </article>

        </div>
    </div>

    {{> footer }}
</body>
</html>
