<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container has-side-nav">

            <aside>
                <ul>
                    <li{{#equals path site.getinvolved.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.link}}/">{{site.getinvolved.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.code-and-learn.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.code-and-learn.link}}/">{{site.getinvolved.code-and-learn.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.contribute.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.contribute.link}}/">{{site.getinvolved.contribute.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.development.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.development.link}}/">{{site.getinvolved.development.text}}</a>
                    </li>
                    <li{{#equals path site.getinvolved.events.link}} class="active"{{/equals}}>
                        <a href="/{{site.locale}}/{{site.getinvolved.events.link}}/">{{site.getinvolved.events.text}}</a>
                    </li>
                    <li>
                        <a href="https://github.com/nodejs/node/blob/master/CONTRIBUTING.md#code-of-conduct">{{site.getinvolved.conduct.text}}</a>
                    </li>
                </ul>
            </aside>

            <article>
              <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
              <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
              <style>
              div.map {height: 400px; width:100%; margin-top:10px}
              </style>
                <div id="map" class="map"></div>
              <script>
              var map
              function _map () {
                L.mapbox.accessToken = 'pk.eyJ1IjoibWlrZWFsIiwiYSI6ImNpaGY5ajk5ZTA0ZTN0cmo3MzZ5NnV5eHIifQ.YBfpOTUwcbaZrNvAfDaDcQ';

                function onMap (map) {
                  var featureLayer = L.mapbox.featureLayer()
                      .loadURL('/static/event-geo.json')
                      .addTo(map)
                }

                if ("geolocation" in navigator) {
                  /* geolocation is available */
                  navigator.geolocation.getCurrentPosition(function(position) {
                    var lat = position.coords.latitude
                      , lon = position.coords.longitude
                      ;
                    map = L.mapbox.map('map', 'mapbox.streets-basic').setView([lat, lon], 11)
                    onMap(map)
                  })
                } else {
                  map = L.mapbox.map('map', 'mapbox.streets-basic')
                  onMap(map)
                }
              }
              _map()
              </script>

                {{#each regions}}
                <div class="region">
                  <h1>{{region}}</h1>
                  {{#if conferences}}<h2>Conferences</h2>{{/if}}
                  {{#each conferences}}
                  <div class="conference">
                    <h3><a href="{{link}}">{{name}}</a>
                      {{#if location}}
                        - <small class="map-link"><a href="https://www.google.com/maps/place/{{location}}">map</a></small>
                      {{/if}}
                    </h3>
                    {{#if desc}}
                    <div class="conference-description">{{desc}}</div>
                    {{/if}}
                  </div>
                  {{/each}}

                  <h2>NodeSchools</h2>
                  <ul class="events-list">
                  {{#each nodeschools}}
                  <li>
                    {{#if website}}
                    <a href="{{website}}">{{name}}</a>
                    {{else}}
                      {{#if repo}}
                      <a href="{{repo}}">{{name}}</a>
                      {{else}}
                        {{name}}
                      {{/if}}
                    {{/if}}
                  </li>
                  {{/each}}
                  </ul>

                  <h2>Meetups</h2>
                  <ul class="events-list">
                  {{#each meetups}}
                    <li><a href="{{link}}">{{name}}</a></li>
                  {{/each}}
                  </ul>

                </div>
                {{/each}}
            </article>

        </div>
    </div>

    {{> footer }}
</body>
</html>
