<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <main>
        <div class="container">
            <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
            <style>
            </style>

            <div id="home-intro">

                {{{ contents }}}

                {{#if project.banner.visible}}
                    <p class="home-version home-version-banner">
                        Current Version: {{ project.currentVersion }}<br>
                        {{{project.banner.content}}}
                    </p>
                {{else}}
                      <p class="home-version">Current Version: {{ project.currentVersion }}</p>
                {{/if}}

                <a href="https://nodejs.org/dist/latest/" id="home-downloadbutton" data-version="{{ project.currentVersion }}" data-dl-local="Download for">Download</a>

                <ul class="list-divider-pipe home-secondary-links">
                    <li><a href="https://nodejs.org/dist/latest/">Other Downloads</a></li>
                    <li><a href="https://github.com/nodejs/io.js/blob/master/CHANGELOG.md">Changelog</a></li>
                    <li><a href="https://iojs.org/api/">API Docs</a></li>
                </ul>

            </div>

        </div>
    </main>

    {{> footer }}
    <script src="/static/js/download.js" async defer></script>
</body>
</html>
