<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">

            <div id="home-intro">

                {{{ contents }}}

                {{#if project.banner.visible}}
                    <p class="home-version home-version-banner">
                        {{ labels.current-version }}: {{ project.currentVersion }}<br>
                        {{{ project.banner.content }}}
                    </p>
                {{/if}}

                <h2 id="home-downloadhead" data-dl-local="{{ labels.download-for }}">{{ labels.download }}</h2>

                <div class="home-downloadblock">

                  <a href="https://nodejs.org/dist/{{ project.currentVersions.lts }}/" class="home-downloadbutton" title="{{ labels.download }} {{ project.currentVersions.lts }} {{ labels.lts }}" data-version="{{ project.currentVersions.lts }}">
                      {{ project.currentVersions.lts }} {{ labels.lts }}
                      <small>{{ labels.tagline-lts }}</small>
                  </a>

                  <ul class="list-divider-pipe home-secondary-links">
                      <li>
                        <a href="https://nodejs.org/dist/{{ project.currentVersions.lts }}/">{{ labels.other-downloads }}</a>
                      </li>
                      <li>
                          <a href="https://github.com/nodejs/node/blob/{{ project.currentVersions.lts }}/CHANGELOG.md">{{ labels.changelog }}</a>
                      </li>
                      <li>
                        <a href="{{majorapidocslink project.currentVersions.lts}}">{{ labels.api }}</a>
                      </li>
                  </ul>

                </div>

                {{#if project.currentVersions.stable}}
                  <div class="home-downloadblock">

                    <a href="https://nodejs.org/dist/{{ project.currentVersions.stable }}/" class="home-downloadbutton"  title="{{ labels.download }} {{ project.currentVersions.stable }} {{ labels.stable }}"  data-version="{{ project.currentVersions.stable }}">
                        {{ project.currentVersions.stable }} {{ labels.stable }}
                        <small>{{ labels.tagline-stable }}</small>
                    </a>

                    <ul class="list-divider-pipe home-secondary-links">
                        <li>
                          <a href="https://nodejs.org/dist/{{ project.currentVersions.stable }}/">{{ labels.other-downloads }}</a>
                        </li>
                        <li>
                            <a href="https://github.com/nodejs/node/blob/{{ project.currentVersions.stable }}/CHANGELOG.md">{{ labels.changelog }}</a>
                        </li>
                        <li>
                          <a href="{{majorapidocslink project.currentVersions.stable}}">{{ labels.api }}</a>
                        </li>
                    </ul>

                  </div>
                {{/if}}

            </div>

        </div>
    </div>

    <a href="http://events.linuxfoundation.org/events/node-interactive">
        <div class="interactive-banner">
            <img src="/static/images/NodeInteractive_Date_white.png" alt="Node Interactive" title="Node Interactive">
        </div>
    </a>

    {{> footer className="no-margin-top" }}
    <script src="/static/js/download.js" async defer></script>

</body>
</html>
