<!DOCTYPE html>
<html lang="{{site.locale}}"{{#if site.rtl}} dir="rtl"{{/if}}>
{{> html-head }}

<body>
  {{> header }}

  <div id="main">
    <div class="container">

      <div id="home-intro">

        {{{ contents }}}

        {{#if project.banner.visible}}
          <p class="home-version home-version-banner">
            <a href="{{ project.banner.link }}">{{ project.banner.text }}</a>
          </p>
        {{/if}}

        <h2 id="home-downloadhead" data-dl-local="{{ labels.download-for }}">{{ labels.download }}</h2>

        <div class="home-downloadblock">

          <a href="https://nodejs.org/dist/{{ project.latestVersions.lts.node }}/" class="home-downloadbutton" title="{{ labels.download }} {{stripv project.latestVersions.lts.node }} {{ labels.lts }}" data-version="{{ project.latestVersions.lts.node }}">
            {{stripv project.latestVersions.lts.node }} {{ labels.lts }}
            <small>{{ labels.tagline-lts }}</small>
          </a>

          <ul class="list-divider-pipe home-secondary-links">
            <li>
              <a href="/{{site.locale}}/download/">{{ labels.other-downloads }}</a>
            </li>
            <li>
              <a href="{{changeloglink project.latestVersions.lts.node}}">{{ labels.changelog }}</a>
            </li>
            <li>
              <a href="{{majorapidocslink project.latestVersions.lts.node}}">{{ labels.api }}</a>
            </li>
          </ul>

        </div>

        {{#if project.latestVersions.current.node}}
        {{#unless project.latestVersions.hideCurrent}}
          <div class="home-downloadblock">

            <a href="https://nodejs.org/dist/{{ project.latestVersions.current.node }}/" class="home-downloadbutton"  title="{{ labels.download }} {{stripv project.latestVersions.current.node }} {{ labels.current }}"  data-version="{{ project.latestVersions.current.node }}">
              {{stripv project.latestVersions.current.node }} {{ labels.current }}
              <small>{{ labels.tagline-current }}</small>
            </a>

            <ul class="list-divider-pipe home-secondary-links">
              <li>
                <a href="/{{site.locale}}/download/current/">{{ labels.other-downloads }}</a>
              </li>
              <li>
                <a href="{{changeloglink project.latestVersions.current.node}}">{{ labels.changelog }}</a>
              </li>
              <li>
                <a href="{{majorapidocslink project.latestVersions.current.node}}">{{ labels.api }}</a>
              </li>
            </ul>

          </div>
        {{/unless}}
        {{/if}}
        <p>
          {{{ labels.version-schedule-prompt }}} <a href="/{{site.locale}}/about/releases/">{{ labels.version-schedule-prompt-link-text }}</a>
        </p>
        {{#if labels.newsletter }}
        <p>
          {{{ labels.newsletter-prefix }}} <a href="https://newsletter.nodejs.org/">Node.js Everywhere</a>{{{ labels.newsletter-postfix }}}
        </p>
        {{/if}}
      </div>

    </div>
  </div>

  {{> footer className="no-margin-top" }}
</body>
</html>
