<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">

            <div id="home-intro">

                {{{ contents }}}

                {{#if project.banner.visible}}
                    <p class="home-version home-version-banner">
                        {{ labels.current-version }}: {{ project.currentVersion }}<br>
                        {{{ project.banner.content }}}
                    </p>
                {{else}}
                      <p class="home-version">{{ labels.current-version }}: {{ project.currentVersion }}</p>
                {{/if}}

                <a href="https://nodejs.org/dist/{{ project.currentVersion }}/" id="home-downloadbutton" data-version="{{ project.currentVersion }}" data-dl-local="{{ labels.download-for }}">{{ labels.download }}</a>

                <ul class="list-divider-pipe home-secondary-links">
                    <li><a href="https://nodejs.org/dist/{{ project.currentVersion }}/">{{ labels.other-downloads }}</a></li>
                    <li><a href="https://github.com/nodejs/node/blob/{{ project.currentVersion }}/CHANGELOG.md">{{ labels.changelog }}</a></li>
                    <li><a href="{{ site.docs.api.link }}">{{ labels.api }}</a></li>
                </ul>

            </div>

            <style>
                div.interactive-banner {
                    background: #333 url("/static/images/nodejs-interactive-portland2015.jpg") 50% 0px no-repeat;
                    background-size: cover;
                    height:300px;
                    text-align:center;
                    width:100%;
                    line-height:300px;
                    margin-top:20px;
                }
                div.interactive-banner img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top:80px;
                    height:140px;
                    -webkit-filter: drop-shadow(5px 5px 5px #222);
                    filter: drop-shadow(5px 5px 5px #222);
                }
                @media screen and (max-width: 550px) {
                    div.interactive-banner img {
                        padding-top:100px;
                        height: auto;
                        width: 300px;
                    }
                }
                footer {
                    margin-top:0px;
                }
            </style>

        </div>
    </div>

    <a href="http://events.linuxfoundation.org/events/node-interactive">
        <div class="interactive-banner">
            <img src="/static/images/NodeInteractive_Date_white.png" alt="Node Interactive" title="Node Interactive">
        </div>
    </a>

    {{> footer }}
    <script src="/static/js/download.js" async defer></script>
</body>
</html>
