<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">

            <div id="home-intro">

                {{{ contents }}}

                {{#if project.banner.visible}}
                    <p class="home-version home-version-banner">
                        {{ labels.current-version }}: {{ project.currentVersion }}<br>
                        {{{ project.banner.content }}}
                    </p>
                {{/if}}

                <h2 id="home-downloadhead" data-dl-local="{{ labels.download-for }}">{{ labels.download }}</h2>

                <a href="https://nodejs.org/dist/{{ project.currentVersions.lts }}/" class="home-downloadbutton" title="{{ labels.download }} {{ project.currentVersions.lts }} {{ labels.lts }}" data-version="{{ project.currentVersions.lts }}">
                    {{ project.currentVersions.lts }} {{ labels.lts }}
                    <small>{{ labels.tagline-lts }}</small>
                </a>

                {{#if project.currentVersions.stable}}
                    <a href="https://nodejs.org/dist/{{ project.currentVersions.stable }}/" class="home-downloadbutton"  title="{{ labels.download }} {{ project.currentVersions.stable }} {{ labels.stable }}"  data-version="{{ project.currentVersions.stable }}">
                        {{ project.currentVersions.stable }} {{ labels.stable }}
                        <small>{{ labels.tagline-stable }}</small>
                    </a>
                {{/if}}

                <ul class="list-divider-pipe home-secondary-links">
                    <li>
                        <a href="https://nodejs.org/dist/{{ project.currentVersions.lts }}/">{{ labels.other-lts-downloads }}</a>

                        {{#if project.currentVersions.stable}}
                            &#47; <a href="https://nodejs.org/dist/{{ project.currentVersions.stable }}/" title="{{ labels.other-stable-downloads }}">
                                {{ labels.stable }}
                            </a>
                        {{/if}}
                    </li>
                    <li><a href="https://github.com/nodejs/node/blob/{{ project.currentVersion }}/CHANGELOG.md">{{ labels.changelog }}</a></li>
                    <li><a href="{{ site.docs.api.link }}">{{ labels.api }}</a></li>
                </ul>

            </div>

            <style>
                div.interactive-banner {
                    background: #333 url("/static/images/nodejs-interactive-portland2015.jpg") 50% 0px no-repeat;
                    background-size: cover;
                    height:300px;
                    text-align:center;
                    width:100%;
                    line-height:300px;
                    margin-top:20px;
                }
                div.interactive-banner img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top:80px;
                    height:140px;
                    -webkit-filter: drop-shadow(5px 5px 5px #222);
                    filter: drop-shadow(5px 5px 5px #222);
                }
                @media screen and (max-width: 550px) {
                    div.interactive-banner img {
                        padding-top:100px;
                        height: auto;
                        width: 300px;
                    }
                }
                footer {
                    margin-top:0px;
                }
            </style>

        </div>
    </div>

    <a href="http://events.linuxfoundation.org/events/node-interactive">
        <div class="interactive-banner">
            <img src="/static/images/NodeInteractive_Date_white.png" alt="Node Interactive" title="Node Interactive">
        </div>
    </a>

    {{> footer }}
    <script src="/static/js/download.js" async defer></script>

</body>
</html>
