<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">

            <div id="home-intro">

                {{{ contents }}}

                {{#if project.banner.visible}}
                    <p class="home-version home-version-banner">
                        {{{ project.banner.content }}}
                    </p>
                {{/if}}

                <h2 id="home-downloadhead" data-dl-local="{{ labels.download-for }}">{{ labels.download }}</h2>

                <div class="home-downloadblock">

                  <a href="https://nodejs.org/dist/{{ project.currentVersions.lts }}/" class="home-downloadbutton" title="{{ labels.download }} {{ project.currentVersions.lts }} {{ labels.lts }}" data-version="{{ project.currentVersions.lts }}">
                      {{ project.currentVersions.lts }} {{ labels.lts }}
                      <small>{{ labels.tagline-lts }}</small>
                  </a>

                  <ul class="list-divider-pipe home-secondary-links">
                      <li>
                        <a href="https://nodejs.org/{{site.locale}}/download/">{{ labels.other-downloads }}</a>
                      </li>
                      <li>
                          <a href="https://github.com/nodejs/node/blob/{{ project.currentVersions.lts }}/CHANGELOG.md">{{ labels.changelog }}</a>
                      </li>
                      <li>
                        <a href="{{majorapidocslink project.currentVersions.lts}}">{{ labels.api }}</a>
                      </li>
                  </ul>

                </div>

                {{#if project.currentVersions.stable}}
                  <div class="home-downloadblock">

                    <a href="https://nodejs.org/dist/{{ project.currentVersions.stable }}/" class="home-downloadbutton"  title="{{ labels.download }} {{ project.currentVersions.stable }} {{ labels.stable }}"  data-version="{{ project.currentVersions.stable }}">
                        {{ project.currentVersions.stable }} {{ labels.stable }}
                        <small>{{ labels.tagline-stable }}</small>
                    </a>

                    <ul class="list-divider-pipe home-secondary-links">
                        <li>
                          <a href="https://nodejs.org/{{site.locale}}/download/stable/">{{ labels.other-downloads }}</a>
                        </li>
                        <li>
                            <a href="https://github.com/nodejs/node/blob/{{ project.currentVersions.stable }}/CHANGELOG.md">{{ labels.changelog }}</a>
                        </li>
                        <li>
                          <a href="{{majorapidocslink project.currentVersions.stable}}">{{ labels.api }}</a>
                        </li>
                    </ul>

                  </div>
                {{/if}}
                <p>
                  {{{ labels.version-schedule-prompt }}} <a href="https://github.com/nodejs/LTS#lts_schedule">{{ labels.version-schedule-prompt-link-text }}.</a>
                </p>
            </div>

        </div>
    </div>
    
    <style>
      div.interactive {
        width: 100%;
        height: 220px;
        background-image: url("/static/images/interactive/background.png");
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
      }
      div.interactive a, div.interactive span {
         border: 20px solid transparent;
      }
      
      @media (max-width: 480px) {
        #interactive-center {
          display:none;
        }
        div.interactive {
          flex-wrap: wrap;
          height: 556px;
        }
        div.interactive a, div.interactive span {
          max-height:150px;
        }
      }
      @media (min-width: 480px) {
        #interactive-first {
          display:none;
        }
      }
      @media (min-width: 480px) and (max-width: 580px) {
        div.interactive {
          background-repeat: no-repeat;
          height: 100px;
        }
      }
      @media (min-width: 580px) and (max-width: 680px) {
        div.interactive {
          background-repeat: no-repeat;
          height: 120px;
        }
      }
      @media (min-width: 680px) and (max-width: 780px) {
        div.interactive {
          background-repeat: no-repeat;
          height: 140px;
        }
      }
      @media (min-width: 780px) and (max-width: 880px) {
        div.interactive {
          background-repeat: no-repeat;
          height: 160px;
        }
      }
      @media (min-width: 880px) and (max-width: 980px) {
        div.interactive {
          background-repeat: no-repeat;
          height: 180px;
        }
      }
      @media (min-width: 980px) and (max-width: 1180px) {
        div.interactive {
          background-repeat: no-repeat;
          height: 200px;
        }
      }
    </style>
    
    <div class="interactive">
      <span id="interactive-first">
        <img src="/static/images/interactive/nodejs-interactive-logo-center.png" />
      </span>
      <a href="http://events.linuxfoundation.org/events/node-interactive-europe">
        <img id="interactive-link" src="/static/images/interactive/nodejs-interactive-hero-banner-left-eu.png" />
      </a>
      <span id="interactive-center">
        <img src="/static/images/interactive/nodejs-interactive-logo-center.png" />
      </span>
      <a href="http://events.linuxfoundation.org/events/node-interactive">
        <img id="interactive-link" src="/static/images/interactive/nodejs-interactive-hero-banner-right-na.png" />
      </a>
    </div>

    {{> footer className="no-margin-top" }}
    <script src="/static/js/download.js" async defer></script>

</body>
</html>
